.error{
  display: none;
  color:red;
  font-weight: 700;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  font-size: 20px;
}
@keyframes blink{
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@media (max-width: 1315px){
  .ToolBox{
    width: 70px;
  }
  .Tabbox{
    width: 20%;
  }
  .Tabbox__content{
    font-size: 12px;
  }
}
@media (max-width: 960px){
  .ToolBox{
    display: none;
  }
  .error{
    display: block;
  }
  .Tabbox{
    display: none;
  }
}