#header-section{
  font-family:'NanumSquare';
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 5px 5px 0 rgba(234, 234, 234, 0.35);
  position: fixed;
  z-index: 5;
}

#header-contents-wrapper {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#header-logo-btn {
  background: url('../../../assets/image/header/logo.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 10px 20px;
  width: 110px;
  height: calc(100% - 20px);
}
#header-text-btn-wrapper {
  height: 100%;
}

.filter {
  flex-grow: 1;
}
.header-btn {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #f6f7f9;
}

.header-btn a {
  text-decoration: none;
}

#footer-company-rule div {
  margin-top: 10px;
}

@media all and (max-width: 1000px) {
  .header-btn {
    display: none;
  }

  .header-btn:last-child {
    display: inline-block;
  }

  #header-contents-wrapper {
    width: 100%;
  }
}