.Modules{
  position: relative;
  left: 11px;
  top: 10px;
  &__title{
    font-size: 14px;
    color: #9a9a9a;
    & span{
      margin-left: 6px;
      font-size: 14px;
      color: #000;
    }
  }
  &__Module{
    margin-left: 18px;
    font-size: 12px;
    color: #000;
    line-height: 24px;
    &.--Mfalse{
      display: none;
    }
  }
}