@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
#main-section {
  font-family:'NanumSquare';
  color: #634c28;
  width: 100%;
  background-color: #f6f7f9
}

@media all and (max-width: 1000px) {
  #main-section{
    width: 100%;
  }
}