.ProjectFile{
  width: 90%;
  height: 50%;
  background-color: #ffffff;
  border: solid 0.3px #979797;
  padding: 11px 10px 10px 10px;
  margin-bottom: 10px;
}
.ProjectFile:not(.Directory):hover{
  background-color: #e6e6e6;
}
.title{
  display: flex;
  align-items: center;
}