@font-face {
    font-family: "NanumGothicCoding";
    src: local(NanumGothicCoding), /* 첫번째 */
    local(NanumGothicCoding), /* 두번째 */
    url('https://s3.ap-northeast-2.amazonaws.com/sweetfab/webResource/font/nanumGothicCoding/NanumGothicCoding.woff') format('woff'), /* 세번째 */
    url('https://s3.ap-northeast-2.amazonaws.com/sweetfab/webResource/font/nanumGothicCoding/NanumGothicCoding.ttf') format('truetype'); /* 네번째 */
}

.nanumGothicCoding {
    font-family: 'NanumGothicCoding', sans-serif;
    font-size: 10px;
}

.sans-serif {
    font-family: sans-serif;
    font-size: 10px;
}

