.CodeMirror-hints {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;

    margin: 0;
    padding: 2px;

    -webkit-box-shadow: #222222;
    -moz-box-shadow: #222222;
    box-shadow: #222222;
    border-radius: 3px;
    border: #222222;

    background: #404040;
    font-size: 90%;
    font-family: monospace;

    max-height: 20em;
    overflow-y: auto;
}

.CodeMirror-hint {
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    white-space: pre;
    color: #FF9933;
    cursor: pointer;
}

li.CodeMirror-hint-active {
    background: #222222;
    color: #ff5500;
}
