#group-card-list {
  height: 140px;
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-card {
  height: 140px;
  margin-right: 20px;
  border: solid 0.3px rgba(169,157,137, 0.9);
}

.group-card {
  flex-grow: 1;
}

.group-card:last-child {
  margin-right: 0;
}