#my-project-section {
  width: 100%; 
  padding: 100px 0 0 0;
}

.project-view-title {
  font-size: 20px;
  margin: 0;
}

#project-card-list-wrapper {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.project-detail-card {
  box-sizing: border-box;
  width: 500px;
  height: 100%;
  border: solid 0.3px rgba(169,157,137, 0.9);
}

#project-detail-header-wrapper {
  box-sizing: border-box;
  margin: 20px 20px 0 20px;
  height: 75px;
  border-bottom: solid 0.3px #6d5736;
}

#project-detail-title {
  font-size: 28px;
  margin: 0;
}

#project-detail-intro {
  font-size: 14px;
  margin: 0;

}

#project-detail-contents-wrapper {
  padding: 0 20px 15px 20px;
  width: calc(100% - 40px);
  height: calc(100% - 110px);
  font-size: 15px;
}

.project-detail-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.project-detail-info-title {
  flex-grow: 1;
  text-align: left;
}

.project-detail-info-contents {
  flex-grow: 1;
  text-align: right;
}

#my-project-card-list {
  height: 100%;
  width: 480px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.my-project {
  width: 230px;
}

.my-project:nth-child(2n) {
  margin-right: 0;
}

.my-project:nth-child(1) {
  margin-bottom: 20px;
}

.my-project:nth-child(2) {
  margin-bottom: 20px;
}

#group-project-card-list {
  height: 140px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-card {
  box-sizing: border-box;
  height: 140px;
  margin-right: 20px;
  border: solid 0.3px rgba(169,157,137, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.project-card:hover {
  background-color: rgba(102, 79, 44, 0.12);

}

.group-project {
  width: 235px;
}

.group-project:last-child {
  margin-right: 0;
}

.project-title {
  margin: 0;
  text-align: center;
}

.project-type {
  margin: 3px 0 0 0;
  font-size: 14px;
  text-align: center;
  color: #664f2c;
}

.my-project-btn-wrapper {
  font-size: 13px;
  margin: 20px 0;
  display: flex;
  width: 100%;
}

.my-project-btn{
  cursor: pointer;
}

.selected-project {
  background-color: rgba(102, 79, 44, 0.25);
}