.Tool{
  border-radius: 100px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.Tool:hover{
  background-color: #f1f1f1;
}