.LibraryExplore{
  width: 90%;
  height: 50%;
  background-color: #ffffff;
  border: solid 0.3px #979797;
  padding: 11px 10px 10px 10px;
}
.LibraryExplore:hover{
  background-color: #e6e6e6;
}
.LibraryExplore__title{
  display: flex;
  align-items: center;
}
.LibraryExplore__Directory{
  width: 100%;
  height: calc(100% - 30px);
  background-color: #fafafa;
  border: solid 0.3px #979797;
}